*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: cursive;
}
.content{
    height:100vh;
    background-color: black;
}
.header img{
    margin-left:30%;
    width:300px;
    height:170px;
    border-radius: 50px;
    border:2px solid white;

}
.title{
    display: flex;
    position:sticky;
    top:0px;
    bottom: 0px;
    background-color:blue;
    height:60px;
}
.title span{
    color:red;
}
.title i{
    padding:10px;
    margin-left:40px;
    color:white;
    margin-top:20px;
    font-size:20px;
}

.head h1{
    margin-left:10px;
    margin-top:35px;
}
.title .icon{
    margin-left:40px;
}
.title h1{
    font-weight: bold;
    color:white;
    font-style:italic;
}
.title ul{
    display:flex;
    margin-left:30%;
    list-style-type: none;
}
.title ul li{
    padding:25px;
    color:white;
    
}
.title ul li:hover{
    color:red;
}
.head{
    margin-left:50px;
    margin-top: 35px;
    text-align:left;
}
.head p{
    padding:5px;
    color:white;
    font-size:15px;
    font-weight:30;
    font-style:italic;
}
.head h1{
    color:white;
}
.header{
    display:flex;
}
.quiz{
    width:300px;
    height:300px;
    margin-left:50px;
}
.quiz button {
    color:white;
    background-color:blue;
    border:none;
    margin-top:15px;
    padding:5px;
}
.quiz button:hover{
    color:black;
    background-color:white;
}
#quiz{
    margin-top:20px;
}
.quiz h1{
    font-size:15px;
}
.question{
    display:flex;
    color:white;
}
.quiz{
    margin-left:10%;
}
.quiz .que{
    font-size:10px;
    padding:5px;
}
.quiz img{
    width:300px;
    height:170px;
    margin-top:10px;    
    border-radius:50px;
    border:2px solid white;
}
.quiz p{
    margin-right:50px;
    font-weight: 10;
}
.quiz i{
    color:WHITE;
    align-items:center;
    margin-left:90px;
    font-size:30px;
    border:2px solid yellow;
    border-radius:50%;
    padding:2px;
}
.quiz i:hover:nth-child(1){
    background-color:blue;
    border:black;
}
.quiz i:hover:nth-child(2){
    background-color:blue;
    border:black;
}
.contact-form{
    height:100vh;
    background-color: green;
}
.contact-form h1{
    text-align:center;
}
.contact{
    display:inline;
    padding:20px;
}
.contact .box{
    display:flex;
    padding:10px;
    width:300px;
}
.contact-form h2{
    padding:10px;
    margin-left:30px;
}
.box {
    margin-left:40px;
    margin-top:20px;
}
.box i{
    font-size:30px;
}
.contact p{
    margin-left:40px;
}
.contact-us{
    display:flex;
}.user-form{
    margin-left:50px;
}
.user{
    display:flex;
}
.user h1{
 margin-top:30px;
}
.form{
    padding:10px;
    margin-left:50px;
    margin-top:50px;
}
.input{
    border:none;
    margin-top:20px;
}
.input input{
    width:200px;
}
.btn{
    padding:10px;
    background-color: blue;
    color:white;
    border:none;
    border-radius:5px;
    margin-left:27%;
    margin-top:30px;
}
.tot-box{
    height:100vh;
    background-color:rgb(252, 160, 0) ;
}
.boxes1{
    width:300px;
    height:350px;   
    border-radius:10px;
    margin-top:7%;
    display:flex;
    margin-left:40px;
}
.tot-box .tot{
    text-align:center;
}
.tot-box h1{
    text-align: center;
    padding-top:5px;
}
.box1 img{
  width:298px;
  border-radius: 5px;
  height:200px;
}
.box1 h2{
    text-align:center;
    
}

.box1{
    background-color: white;
    border:2px solid red;
    margin-left: 35%;
    border-radius:10px;


   
}
.box1 h2:hover{
    border-color: red;
}
.box1:hover{
    box-shadow: 0 0 60% red;
}
